// REF: https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input

include "binds.kdl"
include "input.kdl"
include "layout.kdl"
include "output.kdl"
include "window-rules.kdl"

environment {
    XDG_CURRENT_DESKTOP "niri"
	XDG_DESKTOP_SESSION "niri"
}

gestures {
	hot-corners {
		off 
	}
}

hotkey-overlay {
	// Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
	// skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-sh-at-startup "wl-paste --watch cliphist store"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
	// Uncomment to turn off all animations.
	// off

	// Slow down all animations by this factor. Values below 1 speed them up instead.
	// slowdown 3.0
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
	match app-id=r#"^org\.keepassxc\.KeePassXC$"#
	match app-id=r#"^org\.gnome\.World\.Secrets$"#

	block-out-from "screen-capture"

	// Use this instead if you want them visible on third-party screenshot tools.
	// block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
	geometry-corner-radius 12
	clip-to-geometry true
}
