// basslocker
window-rule {
	match app-id="Bass Locker"
	open-floating true
}

// screen share dialog
window-rule {
	match title="Select what to share"
	open-floating true
}

// steam 
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
