*{
	all: unset;
	font-family: Hasklig;
	font-size: 32px;
}

// .calendar {
// 	margin-top: 32px;
// }

.clock_time_class {
	color: #abc;
}

.module {
	border-radius: 1rem;
	background-color: white;
	color: pink;
}
